body {
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
  margin: 0 auto;
  width: 60%;
}


.ingredients-list li {
  margin: 15px 0px;
  list-style: square inside;
}

#directions ~ ol li {
  margin: 15px 0px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}


header > img {
  width: 100px;
  height: 100px;
  float: left;
}

figure > img {
  width: 100%;
}


input[type="submit"]:last-child {
  background-color: gold;
  display: block;
}

#directions ~ ol li:nth-of-type(2n) {
  background-color: lightgrey;
}

#reviews h3 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

nav {
    float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

input[type="text"], select {
  display: block;
  width: 180px;
}

label {
  display: block;
}

textarea {
  vertical-align: top;
  width: 180px;
}

select {
  margin: 10px 0;
  width 180px;
}

.col {
  float: left;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66%;
}

.col-1-3 {
  width: 33%;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

.hamburger-dropdown {
  display: none;
}

@media all and (max-width: 900px) {
  nav ul {
    display: none;
  }
  .hamburger-dropdown {
    display: block;
  }
  .hamburger-dropdown > li {
    background: url(./hamburger.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    /* nearest relatively positioned parent of absolute positioned child */
    position: relative;
    cursor: pointer;
  }
  .hamburger-dropdown ul {
    /* Every time we position an element absolutely we should be thinking about
    which parent element we need to position relatively */
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    cursor: pointer;
    box-shadow: black 5px 5px 10px;
  }

  /* This is how we create pure css dropdown effects. No JS required. */
  .hamburger-dropdown:hover ul {
    display: flex;
    background: ghostwhite;
  }

  .hamburger-dropdown ul li:hover a {
    text-decoration: underline;
  }

  [class*='col-'] {
    width: 100%;
  }
};
