body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
  width: 900px;
  margin: 0 auto;
}

aside {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
}

.ingredients-list li {
  margin: 15px 0px;
  list-style: square inside;
}

#directions ~ ol li {
  margin: 15px 0px;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects only IMMEDIATE (1 level deep) image element children
of the header element */
header > img {
  width: 100px;
  height: 100px;
}

figure > img {
  width: 400px;
}


input[type="submit"]:last-child {
  background-color: gold;
  display: block;
}

#directions ~ ol li:nth-of-type(2n) {
  background-color: lightgrey;
}

#reviews h3 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

nav {
    display: inline-block;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

input[type="text"], select {
  display: block;
  width: 180px;
}

label {
  display: block;
}

textarea {
  vertical-align: top;
  width 180px;
}

select {
  margin: 10px 0;
  width 180px;
}
